" IdeaVim 's <Alt> is 'a' instead of Vim's 'm'
" <Shift> is 'S'
" <Ctrl> is 'C'
"
"

" 设置先导键为 空格
let mapleader = " "
" 检索时不区分大小写
set ignorecase
" 检索时，有大写字母自动区分大小写
set smartcase
" 检索时，输入立刻反映
set incsearch
" 高度search内容
set hlsearch

" 顶部，底部留3行
set scrolloff=5

" 高亮显示对应括号
set showmatch
set showmatch matchtime=1

nnoremap <Esc><Esc> :noh<CR><Esc>

" 允许环回移动
set whichwrap=b,s,h,l,<,>,[,],~

" 设置message表示栏为2行
set cmdheight=2
" 设置status行默认显示
set laststatus=2
" 设置显示cmd
set showcmd

" 共用系统剪贴板
"set clipboard+=unnamed

" 使用idea进行行的join，更加智能
set ideajoin

" Multiple cursors support
set multiple-cursors

" 快捷键 {{{1
"
" 窗口 {{{2
" Alt+Shift+hjkl
noremap <Tab>h <c-w>h
noremap <Tab>l <c-w>l
noremap <Tab>j <c-w>j
noremap <Tab>k <c-w>k
" 2}}}
"
" tab {{{2
noremap <leader>1 1gt<cr>
noremap <leader>2 2gt<cr>
noremap <leader>3 3gt<cr>
noremap <leader>4 4gt<cr>
noremap <leader>5 5gt<cr>
noremap <leader>6 6gt<cr>
noremap <leader>7 7gt<cr>
noremap <leader>8 8gt<cr>
noremap <leader>9 9gt<cr>
noremap <leader>0 10gt<cr>
" 2}}}

" Ctrl+hjkl 移动光标 cmd {{{2
cnoremap <c-h> <left>
cnoremap <c-j> <down>
cnoremap <c-k> <up>
cnoremap <c-l> <right>
cnoremap <c-a> <home>
cnoremap <c-e> <end>
cnoremap <c-f> <c-d>
cnoremap <c-b> <left>
cnoremap <c-d> <del>
cnoremap <c-_> <c-k>
" 2}}}
"
" 文本对象相关 {{{2
" 方法对象
"nnoremap [m :action MethodUp<cr>
"nnoremap ]m :action MethodDown<cr>
" 2}}}
"
" class 相关 {{{2
" 跳转到定义处 同[gd]
nnoremap <leader>gd :action GotoDeclaration<cr>
" 在变量上使用，可直接跳转至变量类
nnoremap <leader>gD :action GotoTypeDeclaration<cr>
" 在{@code interface} 全文件中使用，可显示所有实现类
nnoremap <leader>gi :action GotoImplementation<cr>
" 在实现方法内使用，跳转至抽象方法
nnoremap <leader>gs :action GotoSuperMethod<cr>
" 2}}}
"
" 搜索相关 {{{2
" 显示搜索类的搜索框
nnoremap <leader>fc :action GotoClass<cr>
" 显示搜索文件的搜索框
nnoremap <leader>ff :action GotoFile<cr>
" 显示搜索索引的搜索框
nnoremap <leader>fs :action GotoSymbol<cr>
" 显示搜索action的搜索框
nnoremap <leader>fa :action GotoAction<cr>
"2}}}
"
" 补全相关 {{{2
" 显示补全列表
inoremap <C-i> <Esc>:action CodeCompletion<cr>a
" 智能补全
"nnoremap <C-i> <Esc>:action SmartTypeCompletion<cr>a
" 从类名列表中补全
inoremap <C-x><C-c> <Esc>:action ClassNameCompletion<cr>a
" 2}}}
"
" idea窗口相关 {{{2
" 显示方法结构窗口
nnoremap <leader>ws :action ActivateStructureToolWindow<cr>
" 显示错误提示
nnoremap <leader>we :action ShowErrorDescription<cr>
" 显示最近使用的文件
nnoremap <leader>wr :action RecentFiles<cr>
" 最近更改的文件列表
nnoremap <leader>wc :action RecentChangedFiles<cr>
nnoremap <leader>wvc :action Vcs.Show.Local.Changes<cr>
" 收藏窗口
nnoremap <leader>wf :action ActivateFavoritesToolWindow<cr>
" debug窗口
nnoremap <leader>wd :action ActivateDebugToolWindow<cr>
" 显示搜索结果窗口
nnoremap <leader>wF :action ActivateFindToolWindow<cr>
" project 窗口
nnoremap <leader>wp :action ActivateProjectToolWindow<cr>
" Todo 窗口
nnoremap <leader>wt :action ActivateTODOToolWindow<cr>
" 隐藏激活的窗口
nnoremap <leader>wh :action HideActiveWindow<cr>
" 隐藏所有窗口
nnoremap <leader>wH :action HideAllWindows<cr>
" 显示所有断点窗口
nnoremap <leader>wb :action ViewBreakpoints<cr>
" 显示光标所在单位的所有使用位置
nnoremap <leader>wu :action FindUsages<cr>
""""""""""""""""""""""""""""""""""""""FindUsagesInFile
" 2}}}
"
" 添加列表相关 {{{2
" 添加所有打开的文件至收藏夹
nnoremap <leader>aF :action AddAllToFavorites<cr>
" 添加至收藏夹
nnoremap <leader>af :action AddToFavorites<cr>

" 2}}}
"
" format 相关 {{{2
" 自动调整所选位置的缩进
nnoremap <leader>Fi :action AutoIndentLines<cr>
" 文档format
nnoremap <leader><leader>p :action ReformatCode<cr>
" 2}}}
"
" popup相关 {{{2
" 以popup形式显示书签操作菜单
nnoremap <leader>pB :action Bookmarks<cr>
" 以popup形式显示run搜索框
nnoremap <leader>pR :action RunAnything<cr>
" 以popup形式呼唤出generate窗口 {construct,setter and getter, override, toString}
nnoremap <leader>pg :action Generate<cr>
" 以popup形式显示当前文件的tags
nnoremap <leader>ps :action FileStructurePopup<cr>
" 以popup形式显示书签列表(有列表)
nnoremap <leader>pb :action ShowBookmarks<cr>
" 以popup形式上下文菜单
nnoremap <leader>ph :action CallHierarchyPopupMenu<cr>
" 选择指定配置 run ------ TODO: <leader>pr
nnoremap <leader>pz :action ChooseRunConfiguration<cr>
" 以popup形式显示code相关菜单
nnoremap <leader>pc :action CodeMenu<cr>
" 以popup形式显示commander菜单
nnoremap <leader>pC :action CommanderPopupMenu<cr>
" 以popup形式使用处
nnoremap <leader>pu :action ShowUsages<cr>
" 以popup形式显示最近搜索过的使用处
nnoremap <leader>pU :action ShowRecentFindUsagesGroup<cr>
" 以popup形式显示goto菜单
nnoremap <leader>pG :action GoToMenu<cr>
" 2}}}
"
" Console 相关 {{{2
" 清空Console
nnoremap <leader>cc :action ConsoleView.ClearAll<cr>
" 2}}}
"
" diff 相关 {{{2
" 与本地最后一个版本比较
nnoremap <leader>Dl :action Compare.LastVersion<cr>
" 选定一个文件与当前文件进行diff
nnoremap <leader>Df :action CompareTwoFiles<cr>
" 2}}}
"
" build/run/debug 相关 {{{2
nnoremap <leader><leader>c :action CompileDirty<cr>
nnoremap <leader><leader>d :action Debug<cr>
nnoremap <leader><leader>r :action Run<cr>
" 运行到光标
nnoremap <leader>drl :action RunToCursor<cr>
" 编辑断点属性
nnoremap <leader>dep :action EditBreakpoint<cr>
" 添加watch
nnoremap <leader>daw :action Debugger.AddToWatch<cr>
" 添加选中表达式到watch
vnoremap <leader>daw :action Debugger.AddToWatch<cr>
" 2}}}
"
" fix相关 {{{2
" Errors
nnoremap [e :action GotoPreviousError<cr>
nnoremap ]e :action GotoNextError<cr>
" 显示所有处理方式
nnoremap <leader>xa :action ShowIntentionActions<cr>
" 2}}}
"
" refactor相关 {{{2
vnoremap T :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>rn :action RenameElement<cr>
" 优化imports，当有未使用的imports时，会自动删除
nnoremap <leader>ri :action OptimizeImports<cr>
" 重构光标下函数的参数
nnoremap <leader>rp :action ChangeSignature<cr>
"""""""""""""""""""""""""""""" 重构光标所在参数的类型 ChangeTypeSignature
" 2}}}
"
" VCS相关 {{{2
nnoremap <leader>vc :action Vcs.Show.Local.Changes<cr>
nnoremap <leader>vp :action Vcs.QuickListPopupAction<cr>
nnoremap <leader>va :action Annotate<cr>
nnoremap <leader>vl :action Vcs.Show.Log<cr>
nnoremap <leader>vd :action Compare.LastVersion<cr>
" 2}}}
"
" 外部工具相关 {{{2
nnoremap <leader>v :action Tool_External Tools_gvim<cr>
" 2}}}
"
" Toggle 相关 {{{2
" toggle方法级断点
nnoremap <leader>tmp :action ToggleMethodBreakpoint<cr>
" toggle行级断点
nnoremap <leader>tlp :action ToggleLineBreakpoint<cr>
" toggle行级一次性断点
nnoremap <leader>ttp :action ToggleTemporaryLineBreakpoint<cr>
" toggle变量断点
nnoremap <leader>tfp :action ToggleFieldBreakpoint<cr>
" toggle断点有效
nnoremap <leader>tpe :action ToggleBreakpointEnabled<cr>
" toogle书签
nnoremap <leader>tb :action ToggleBookmark<cr>
" 2}}}
"
" 其它 {{{2
" 高亮文件内 选定内容的所有使用处
nnoremap <leader><leader>h :action HighlightUsagesInFile<cr>
" 设置字体变大
nnoremap <leader><leader>fu :action EditorIncreaseFontSize<cr>
" 设置字体变小
nnoremap <leader><leader>fd :action EditorDecreaseFontSize<cr>
" 2}}}
"
" 1}}}

"
"DebugMainMenu
