" IdeaVim 's <Alt> is 'a' instead of Vim's 'm'
" <Shift> is 'S'
" <Ctrl> is 'C'
"
"

" 设置先导键为 空格
let mapleader = " "
" 检索时不区分大小写
set ignorecase
" 检索时，有大写字母自动区分大小写
set smartcase
" 检索时，输入立刻反映
set incsearch
" 高度search内容
set hlsearch

" 顶部，底部留3行
set scrolloff=5

" 高亮显示对应括号
set showmatch
set showmatch matchtime=1

nnoremap <Esc><Esc> :noh<CR><Esc>

" 允许环回移动
set whichwrap=b,s,h,l,<,>,[,],~

" 设置message表示栏为2行
set cmdheight=2
" 设置status行默认显示
set laststatus=2
" 设置显示cmd
set showcmd

" 共用系统剪贴板
set clipboard+=unnamed

" 使用idea进行行的join，更加智能
set ideajoin

" Multiple cursors support
set multiple-cursors

" 快捷键 {{{1
"
" 窗口 {{{2
" Alt+Shift+hjkl
noremap <a-S-h> <c-w>h
noremap <a-S-l> <c-w>l
noremap <a-S-j> <c-w>j
noremap <a-S-k> <c-w>k
inoremap <a-S-h> <esc><c-w>h
inoremap <a-S-l> <esc><c-w>l
inoremap <a-S-j> <esc><c-w>j
inoremap <a-S-k> <esc><c-w>k
" 2}}}
"
" tab {{{2
noremap <leader>1 1gt<cr>
noremap <leader>2 2gt<cr>
noremap <leader>3 3gt<cr>
noremap <leader>4 4gt<cr>
noremap <leader>5 5gt<cr>
noremap <leader>6 6gt<cr>
noremap <leader>7 7gt<cr>
noremap <leader>8 8gt<cr>
noremap <leader>9 9gt<cr>
noremap <leader>0 10gt<cr>
" 2}}}
"
" Ctrl+hjkl 移动光标 {{{2
noremap <C-h> <left>
noremap <C-j> <down>
noremap <C-k> <up>
noremap <C-l> <right>
inoremap <C-h> <left>
inoremap <C-j> <down>
inoremap <C-k> <up>
inoremap <C-l> <right>
" 2}}}
"
" cmd {{{2
cnoremap <c-h> <left>
cnoremap <c-j> <down>
cnoremap <c-k> <up>
cnoremap <c-l> <right>
cnoremap <c-a> <home>
cnoremap <c-e> <end>
cnoremap <c-f> <c-d>
cnoremap <c-b> <left>
cnoremap <c-d> <del>
cnoremap <c-_> <c-k>
" 2}}}
"
" 文本对象相关 {{{2
" 方法对象
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
" 2}}}
"
" class 相关 {{{2
" 跳转到定义处 同[gd]
nmap <leader>gd :action GotoDeclaration<cr>
" 在{@code interface} 全文件中使用，可显示所有实现类
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gu :action <cr>
" 2}}}
"
" 搜索相关 {{{2
" 显示搜索类的搜索框
nmap <leader>fc :action GotoClass<cr>
" 显示搜索文件的搜索框
nmap <leader>ff :action GotoFile<cr>
" 显示搜索索引的搜索框
nmap <leader>fs :action GotoSymbol<cr>
" 显示搜索action的搜索框
nmap <leader>fa :action GotoAction<cr>
"2}}}
"
" 补全相关 {{{2
" 显示补全列表
inoremap <C-i> <Esc>:action CodeCompletion<cr>a
" 智能补全
"nnoremap <C-i> <Esc>:action SmartTypeCompletion<cr>a
" 从类名列表中补全
inoremap <C-x><C-c> <Esc>:action ClassNameCompletion<cr>a
" 2}}}
"
" idea窗口相关 {{{2
" 显示方法结构窗口 [使用Vista的快捷键]
nmap <leader>ws :action ActivateStructureToolWindow<cr>
" 显示错误提示
nmap <leader>we :action ShowErrorDescription<cr>
" 显示最近使用的文件 [使用CtrlP的快捷键]
nmap <leader>wr :action RecentFiles<cr>
" 最近更改的文件列表
nmap <leader>wc :action RecentChangedFiles<cr>
nmap <leader>wvc :action Vcs.Show.Local.Changes<cr>
" 收藏窗口
nmap <leader>wf :action ActivateFavoritesToolWindow<cr>
" debug窗口
nmap <leader>wd :action ActivateDebugToolWindow<cr>
" 显示搜索结果窗口
nmap <leader>wF :action ActivateFindToolWindow<cr>
" project 窗口
nmap <leader>wp :action ActivateProjectToolWindow<cr>
" Todo 窗口
nmap <leader>wt :action ActivateTODOToolWindow<cr>
" 隐藏所有窗口
nmap <leader>wh :action HideAllWindows<cr>
" 显示所有断点窗口
nmap <leader>wb :action ViewBreakpoints<cr>
" 显示光标所在单位的所有使用位置
nmap <leader>wu :action FindUsages<cr>
" 2}}}
"
" 添加列表相关 {{{2
" 添加所有打开的文件至收藏夹
nmap <leader>aF :action AddAllToFavorites<cr>
" 添加至收藏夹
nmap <leader>af :action AddToFavorites<cr>

" 2}}}
"
" format 相关 {{{2
" 自动调整所选位置的缩进
nmap <leader>Fi :action AutoIndentLines<cr>
" 2}}}
"
" popup相关 {{{2
" 以popup形式显示书签操作菜单
nmap <leader>pb :action Bookmarks<cr>
" 以popup形式显示run搜索框
nmap <leader>pR :action RunAnything<cr>
" 以popup形式呼唤出generate窗口 {construct,setter and getter, override, toString}
nmap <leader>pg :action Generate<cr>
" 以popup形式显示当前文件的tags
nmap <leader>ps :action FileStructurePopup<cr>
" 以popup形式显示书签列表(有列表)
nmap <leader>pB :action ShowBookmarks<cr>
" 以popup形式上下文菜单
nmap <leader>ph :action CallHierarchyPopupMenu<cr>
" 选择指定配置 run
nmap <leader>pr :action ChooseRunConfiguration<cr>
" 以popup形式显示code相关菜单
nmap <leader>pc :action CodeMenu<cr>
" 以popup形式显示commander菜单
nmap <leader>pC :action CommanderPopupMenu<cr>
" 以popup形式使用处
nmap <leader>pu :action ShowUsages<cr>
" 以popup形式显示最近搜索过的使用处
nmap <leader>pru :action ShowRecentFindUsagesGroup<cr>
" 2}}}
"
" Console 相关 {{{2
" 清空Console
nmap <leader>cc :action ConsoleView.ClearAll<cr>
" 2}}}
"
" diff 相关 {{{2
" 与本地最后一个版本比较
nmap <leader>Dl :action Compare.LastVersion<cr>
" 选定一个文件与当前文件进行diff
nmap <leader>Df :action CompareTwoFiles<cr>
" 2}}}
"
" build/run/debug 相关 {{{2
nmap <leader><leader>c :action CompileDirty<cr>
nmap <leader><leader>d :action Debug<cr>
nmap <leader><leader>r :action Run<cr>
" toogle方法级断点
nmap <leader>dmb :action ToggleMethodBreakpoint<cr>
" toogle行级断点
nmap <leader>dlb :action ToggleLineBreakpoint<cr>
" 运行到光标
nmap <leader>drl :action RunToCursor<cr>
" 2}}}
"
" fix相关 {{{2
" Errors
nmap [e :action GotoPreviousError<cr>
nmap ]e :action GotoNextError<cr>
" 显示所有处理方式
nnoremap <leader>xa :action ShowIntentionActions<cr>
inoremap <leader>xa <Esc>:action ShowIntentionActions<cr>a
" 2}}}
"
" refactor相关 {{{2
vmap T :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rn :action RenameElement<cr>
" 优化imports，当有未使用的imports时，会自动删除
nmap <leader>ri :action OptimizeImports<cr>
" 重构光标下函数的参数
nmap <leader>rp :action ChangeSignature<cr>
"""""""""""""""""""""""""""""" 重构光标所在参数的类型 ChangeTypeSignature
" 2}}}
"
" VCS相关 {{{2
nmap <leader>vc :action Vcs.Show.Local.Changes<cr>
nmap <leader>vp :action Vcs.QuickListPopupAction<cr>
nmap <leader>va :action Annotate<cr>
nmap <leader>vl :action Vcs.Show.Log<cr>
nmap <leader>vd :action Compare.LastVersion<cr>
" 2}}}
"
" 外部工具相关 {{{2
nmap <leader>v :action Tool_External Tools_gvim<cr>
" 2}}}
"
" 其它 {{{2
" 文档format
nmap <leader><leader>p :action ReformatCode<cr>
" 2}}}
"
"
" 1}}}

"
"Debugger.AddToWatch
"Debugger.FocusOnBreakpoint
"Debugger.MarkObject
"Debugger.Tree.AddToWatches
"Debugger.WatchesPanelPopup
"DebuggerActions
"DebugMainMenu
"EditBreakpoint
"
"Diff.EditorPopupMenu
"Diff.HighlightMode
"Diff.NextChange
"Diff.PrevChange
"Diff.ShowDiff
"DiffPanel.Toolbar
"
"DSM.Popup
"DSM.OpenDependencies
"DSM.Toolbar
"
"DuplicatesForm.SendToLeft
"DuplicatesForm.SendToRight
"DupLocate
"
"EditorContextBarMenu
"EditorIncreaseFontSize
"EditorDecreaseFontSize
"EditorToggleColumnMode
"EditorToggleUseSoftWraps
"
"ExternalSystemView.ActionsToolbar
"ExternalSystemView.BaseProjectMenu
"ExternalSystemView.ProjectMenu
"
"ExtractClass
"ExtractInterface
"ExtractMethod
"ExtractSuperclass
"
"Faces.MainGraphPopup
"Faces.Navigation.Graph.PageTree.GotoDeclarationAction
"Faces.Navigation.Graph.PageTree.GotoDeclarationAction
"
"FindUsagesInFile
"
"FixDocComment
"
"ForceRunToCursor
"ForceStepInto
"ForceStepOver
"StepInto
"StepOut
"StepOver
"Stop
"
"
"
"UsageView.Popup
"UsageView.ShowRecentFindUsages
"
"
"
"
"GotoAction
"GotoChangedFile
"GoToClass
"GotoDeclaration
"GotoFile
"GotoImplementation
"GoToLinkTarget
"GoToMenu
"GoToMenuEx
"GotoSuperMethod
"GotoSymbol
"GotoTypeDeclaration
"
"HideActiveWindow
"HideAllWindows
"HideSideWindows
"
"HighlightUsagesInFile
"
"HippieCompletion
"
"
"ImplementMethods
"
"
"
"
"
"IncrementWindowHeight                              <M-S-Down>
"IncrementWindowWidth                               <M-S-Right>
"DecrementWindowHeight                              <M-S-Up>
"DecrementWindowWidth                               <M-S-Left>
"
"
"
"
"ToggleBookmark
"
"
