[user]
    email = temp@notexist.com
    name = fakename

[init]
    defaultBranch = main

[core]
    editor = vim

[pager]
    diff =

[color]
    ui = auto

# diff {{{1
# [git diff with vimdiff :ref](https://nafuruby.hatenablog.com/entry/2016/01/03/201520)
[diff]
    tool = vimdiff

[difftool]
    prompt = false

#}}}

# merge {{{1
# [git merge with vim :ref](https://www.youtube.com/watch?v=kFVjoIish0E)
#
# when exit mistake:
# git reset --hard
[merge]
    tool = vimdiff
    conflictStyle = diff3

[mergetool]
    prompt = false
    keepBackup = false


[mergetool "vimdiff"]
    layout = "(LOCAL,BASE,REMOTE)/MERGED"

# }}}

[alias]
    b = branch
    dt = difftool
    mt = mergetool
    s = status
